*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;  
}
.Principais-Projetos{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.Proj-Titulo{
    padding: 25px;
    font-size: 25px;
    word-spacing: 10px;
    letter-spacing: 5px;
}
.Cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 30px 20px;
}
.Card-Login{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    width: 300px;
    height: 500px;
    background-color: #333AA0;
}
.Titulo-Cards{
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}
.img-login{
    max-width: 250px;
    max-height: 330px;
    width: auto;
    height: auto;
    margin: 25px;
    align-self: flex-start;
}
.Links-Projetos{
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.Link-Projeto, .Link-Codigo{
    padding: 5px;
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
    background-color: #1D1D1D;
}
.Link-Projeto:hover, .Link-Codigo:hover{
    text-decoration: dotted;
    color: #333AA0;
}

